.poster {
  height: 200px !important;
}
.thumbnail {
  border : 1px solid #7f8c8d !important;
}
body {
  font-family: 'Kanit', sans-serif;
}
.storyline {
  font-family: 'Kanit', sans-serif;
  margin-top : 0px;
  text-decoration : underline;
}
