.poster {
  height: 200px !important;
}
.thumbnail {
  border : 1px solid #7f8c8d !important;
}
body {
  font-family: 'Kanit', sans-serif;

}
.search-button {
   padding-top: 30px;

}

.search-bar {
  width:100%;
  max-width:500px;
  margin-bottom: 25px;
}

.storyline {
  font-family: 'Kanit', sans-serif;
  margin-top : 0px;
  text-decoration : underline;
}
