<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="css/style.css" rel="stylesheet" \>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!--bootstrap -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- AngularJS -->
    <script src="js/lib/angular-1.5.7.min.js"></script>

    <!-- App -->
    <script src="js/controllers/movieControllers.js"></script>
    <script src="js/service/movie.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="movieApp">
    <div>
        <div ng-controller="movieController" class="container">
          <div class="search-button">
            <input type="text" ng-model="search" ng-click=filter(key) placeholder="Enter full movie name" class="search-bar" />
          </div>
          <div ng-repeat="movie in movies" 
                style="-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;" 
               class="col-sm-12 col-lg-3 col-md-6">
                    <div class="thumbnail"><h5>
                      <span class="card-title"> {{ movie.Title }} </span></h5></br>
                      <img class="poster" ng-src="{{ movie.Poster }}" alt="">
                      <div class="caption text-center">
                         <P>Released Year: {{ movie.Year }}</P>
                         <P>Genre: {{ movie.Genre }}</P>
                         <P>Actors: {{ movie.Actors }}</P>
                         <P>Director: {{ movie.Director }}</P>
                         <p class="storyline">{{movie.Plot}}</p>
                       
                       </div>
              </div>      
            </div>
         </div>
      </div>
  </body>
  </html>